# Pandas Basics

pandas contains data structures and data maniuplation tools that make data cleaning and data analysis within Python possible.

Pandas is used in tandem with...
 - numerical computing tools such as NumPy and SciPy
 - analytical libraries such as statsmodels and scikitlearn

## Pandas Data Structures
The key data structures are Series and DataFrames.
Let's build a few examples of these data structures and get familiar with what makes them unique.

## Series
A series is a one-dimensional array-like object, which contains a sequence of values with an associated index.  The simplest way to create a series is to create one from a list:

In [6]:
import pandas as pd

ser = pd.Series([89, 12, -4, 13])
ser

0    89
1    12
2    -4
3    13
dtype: int64

In [24]:
# The values of a Series object
ser.values

array([89, 12, -4, 13])

In [25]:
# The index of a Series object
ser.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# You can use NumPy functions on Series objects

#return all the values greater than 10
ser[]
#multiply all values in series by scalar 2

#calculate the exponential of each value in our Series object

0    4.489613e+38
1    1.627548e+05
2    1.831564e-02
3    4.424134e+05
dtype: float64

In [13]:
# Another example of a Series object:
people = ['Eyerasulem', 'Mayuri', 'Rosy', 'Moran', 'Jingru', 'Marnie']

#Convert the list 'people' to a Series object:
obj = pd.Series()

# verify the class of our Series object

### Understanding the Series structure

Components of a Series object:
 - one dimensional array containing a sequence of objects
 - 'index': an associated array of data labels (default and user defined)

In [15]:
# Notice the components of our Series object
print(obj)
# Slicing a Series object is much like slicing a list
# Try and return items with index values 2,3,4
obj[]

0    Eyerasulem
1        Mayuri
2          Rosy
3         Moran
4        Jingru
5        Marnie
dtype: object

2      Rosy
3     Moran
4    Jingru
dtype: object

In [ ]:
# As we do with lists, use the index to access and change a value in the Series object
print(obj)

# Uncomment the line below, and add code to change 'Rosy' to 'James'
# obj[]
print(obj)

In [17]:
# The index for a Series object can be manually assigned:
obj2 = pd.Series(people, index=[0,1,0,0,1,1])
obj2

0    Eyerasulem
1        Mayuri
1          Rosy
0         Moran
1        Jingru
0        Marnie
dtype: object

In [23]:
# Make use of indices for obj2 and print out persons with index value of '0'
obj2
ind = 
print(obj2[ind])

0    Eyerasulem
0         Moran
0        Marnie
dtype: object

In [21]:
# View the components of a Series object
#obj2.values
#obj2.index

Int64Index([0, 1, 1, 0, 1, 0], dtype='int64')

### Series objects are like Dictionary objects
Let's try some exercises to compare similiarities between dictionaries and Series objects...

In [28]:
# The Series index can function like keys in a dictionary:
# Let's start with another data structure we're all familiar with: the dictionary
dataSci = {
    'eyerasulum':['data mining', 'stats2', 'parallel', 'project'],
    'rosy':['data mining', 'stats2', 'noSQL'],
    'sam':['stats2', 'internship', 'data mining', 'parallel'],
    'moran':['stats2', 'data mining', 'parallel', 'project'],
    'jingru':['stats2', 'data mining', 'parallel', 'project']
}

# Turn dataSci into a Series object
obj3 = pd.Series(dataSci)
obj3

eyerasulum       [data mining, stats2, parallel, project]
jingru           [stats2, data mining, parallel, project]
moran            [stats2, data mining, parallel, project]
rosy                         [data mining, stats2, noSQL]
sam           [stats2, internship, data mining, parallel]
dtype: object

In [36]:
# Notice that the keys from our dictionary are now the indices for our Series object
print(obj3)

# You can use the index values to check for an item in your object
'sam' in obj3
'adam' in obj3

# Use indexing to display Moran's classes
obj3

eyerasulum       [data mining, stats2, parallel, project]
jingru           [stats2, data mining, parallel, project]
moran            [stats2, data mining, parallel, project]
rosy                         [data mining, stats2, noSQL]
sam           [stats2, internship, data mining, parallel]
dtype: object

['stats2', 'data mining', 'parallel', 'project']

## DataFrames
Whereas the Series object was a one-dimensional data structure, the dataframe is an n-dimensional data structure.  Most visualize the dataframe as a 2-dimensional (tabular) object, but DataFrames with n-dimensions can be created.

### Creating a DataFrame
Think of the dataframe as a collection of pandas Series objects, where each column can contain a different data type.

One of the easiest ways is to start with a dictionary of lists of equal length.

In [1]:
import pandas as pd
import numpy as np

#Create a DataFrame from a dictionary
crime = {
    'years':['2007','2008','2009','2010'],
    'vandalism':[33,69,48,44],
    'drug abuse':[46,60,61,67],
    'liquor laws':[86,81,76,86]
}
frame = pd.DataFrame(crime)
frame
# notice that the pandas dataframe lists the columns in alphabetical order,
# which may not be how we want to present our data

   drug abuse  liquor laws  vandalism years
0          46           86         33  2007
1          60           81         69  2008
2          61           76         48  2009
3          67           86         44  2010

In [4]:
# Ways to view the dataframe (and its parts)
type(frame)

#frame.head() #the default is 5
#frame.head(7)  #change the default
#frame.tail()

#frame.values
#frame.index
#frame.columns

pandas.core.frame.DataFrame

In [9]:
# Let's control how the columns are displayed in our dataframe
# We don't like that 'years' is the last column.  How to modify?
frame

#frame = pd.DataFrame(crime, columns=['years','drug abuse','liquor laws','vandalism'])
frame

# try rearranging the columns by modifying the columns yourself:
frameX = pd.DataFrame(data, columns=[])

   drug abuse  liquor laws  vandalism years
0          46           86         33  2007
1          60           81         69  2008
2          61           76         48  2009
3          67           86         44  2010

In [11]:
# slicing and dicing the DataFrame

#Accessing by column
#frame['years']
#frame.years

#Accessing by row -- how can we access the data for '2008'?
frame.iloc[1]  ##remove

drug abuse       60
liquor laws      81
vandalism        69
years          2008
Name: 1, dtype: object

In [3]:
# What happens if we specify a column in our dataframe that 
# doesn't exist in our dictionary object?
# We want to add a new column 'other'
frame2 = pd.DataFrame(crime, columns=['years','drug abuse',
                                      'liquor laws','vandalism', 'other'],
                      index=['a','a','b','b'])
frame2
#Notice that indices do not have to be unique

  years  drug abuse  liquor laws  vandalism other
a  2007          46           86         33   NaN
a  2008          60           81         69   NaN
b  2009          61           76         48   NaN
b  2010          67           86         44   NaN

### NaN values
As data scientists, we will have to deal with NaN (not a number) values.  How we deal with them (ignore them or replace them or other) is an important decision.

Once we've decided how to deal with NaN values, how can we modify our Series or DataFrame objects accordingly?

An empty (a column of NaN) can be populated in several ways:
 - Passing a single value (a scalar, perhaps)
 - Passing a Series object (must be of same length as DataFrame)
 - Passing a List object (must be of same length as DataFrame)

In [37]:
# We have our new column 'other' but it has no values.
# Use code below to add the values: 'not bad','ok','better','worse'
frame2.other=[]
frame2

  years  drug abuse  liquor laws  vandalism    other
a  2007          46           86         33  not bad
a  2008          60           81         69       ok
b  2009          61           76         48   better
b  2010          67           86         44    worse

In [37]:
# Another way to deal with NaN values is to drop rows or columns
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],[np.nan, np.nan, np.nan, 5]],
                 columns=['bob','mary','john','chris'])
df

#using the sample code below, what is the difference between how='any' and how='all'
#df.dropna(axis=1, how='any')
#df.dropna(axis=1, how='all')

# How can we remove any rows that have more than one NaN?
df.dropna()

   bob  mary  john  chris
0  NaN   2.0   NaN      0
1  3.0   4.0   NaN      1
2  NaN   NaN   NaN      5

### Adding/removing columns to a DataFrame

Once you've created a DataFrame, you may need to add columns or delete columns.  Let's walk through some exercises to do this.

In [38]:
# Calculate the mean of previous columns
frame = pd.DataFrame(crime, columns=['years','drug abuse','liquor laws','vandalism'])
frame
frame['avg']=frame.mean()
frame

  years  drug abuse  liquor laws  vandalism  avg
0  2007          46           86         33  NaN
1  2008          60           81         69  NaN
2  2009          61           76         48  NaN
3  2010          67           86         44  NaN

In [39]:
# How would you calculate the average of the columns?
frame = pd.DataFrame(crime, columns=['years','drug abuse','liquor laws','vandalism'])
frame
frame.mean()

years          5.018002e+14
drug abuse     5.850000e+01
liquor laws    8.225000e+01
vandalism      4.850000e+01
dtype: float64

In [42]:
# We can add a new column with Boolean values based on evaluation of another column
frame2['drug>70'] = frame2['drug abuse'] > 70
frame2

  years  drug abuse  liquor laws  vandalism    other drug>70
a  2007          46           86         33  not bad   False
a  2008          60           81         69       ok   False
b  2009          61           76         48   better   False
b  2010          67           86         44    worse   False

In [44]:
# We can also remove columns
del frame2['other']
frame2

  years  drug abuse  liquor laws  vandalism drug>70
a  2007          46           86         33   False
a  2008          60           81         69   False
b  2009          61           76         48   False
b  2010          67           86         44   False

### Possible Inputs for a DataFrame
We've seen the most popular way to create a DataFrame: using a dictionary.  Here are other possible inputs to pd.DataFrame():

 - dict of arrays, lists, tuples
 - dict of Series
 - dict of dicts
 - list of dicts or Series

### Possible Inputs for a DataFrame (continued)

 - Two dimensional ndarray
 - list of lists
 - NumPy array
 - another DataFrame

### Index Objects
Indexes are common to both pandas Series and DataFrames.  Just as keys to dictionaries are immutable, the indices for our pandas objects are also immutable.

In [47]:
foo2 = pd.Series(range(3), index=['a','b','c'])
index = foo2.index
index
type(index)

# Modify the first value in the index from 'a' to 'd'

pandas.indexes.base.Index

### More about Index Objects
Index objects are immutable, but they do not have to be unique.  Use index values to your advantage.

Also note that you can use set operations on index objects which could be beneficial: union, intersection, difference, isin... just to name a few.


### Essential Functionality
Now that we've discussed a few ways to create DataFrames, let's look at some key functionality.
Keep in mind that a DataFrame is a collection of Series objects.

In [48]:
# Remember how to create a matrix using NumPy?
# Let's put that into a pandas Series object
this = pd.DataFrame(np.arange(16).reshape((4,4)), 
                    index=['c','a','b','d'],
                   columns = ['Mar','Jan','Apr','Feb'])
this

   Mar  Jan  Apr  Feb
c    0    1    2    3
a    4    5    6    7
b    8    9   10   11
d   12   13   14   15

In [55]:
# Reindexing is an important method which creates a new object conforming to the new index:
that = this.reindex(['a','b','c','d'])
that

   Mar  Jan  Apr  Feb
a    4    5    6    7
b    8    9   10   11
c    0    1    2    3
d   12   13   14   15

In [56]:
# In the last example we reindexed by row, but we can also reindex by column:
months = [] #enter the months from the previous slide so that they appear in the correct order
those = that.reindex(columns=months) #use the months list as a guide for re-indexing by column
those

   Jan  Feb  Mar  Apr
a    5    7    4    6
b    9   11    8   10
c    1    3    0    2
d   13   15   12   14

## Importing Your Data

While we've spent quite a bit of time creating Series and DataFrame objects from existing Python data structures (lists, tuples, dictionaries, etc) in reality, we will probably be importing data from other sources.

### Common commands

| Command | Type of Data |
| ----------- | ------------------------------------------ |
| read_csv | load delimited data from file, URL, or file |
| read_table | load delimited data from file, URL, or file |
| read_excel | read tabular data from Excel XLS or XLSX file |
| read_html | read all tables found in given HTML document |
| read_json | read data from a JSON string representation |

### import csv example

df = pd.read_csv("my.csv", header=None)

In [2]:
rain = pd.read_csv('data/precipitation_boulder.csv')
rain

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,YEAR TOTAL
0,1893,0.05,0.7,0.25,1.00,2,0.5,0.60,0.75,0.6,1.16,0.8,0.39,8.80**
1,1894,0.16,0.82,1.40,2.30,4.5,0.8,3.08,0.84,2.1,0.1,0.3,0.67,17.07
2,1895,0.3,0.66,1.98,1.89,4.28,3.77,4.31,0.82,0.5,1.27,0.44,0.13,20.35
3,1896,0.38,0.5,1.74,0.84,5.6,1.69,1.53,1.93,1.67,0.59,0,0.2,16.67
4,1897,0.23,0.8,2.40,0.94,2.3,3.71,3.09,2.96,0.86,1.66,0.47,0.7,20.12
5,1898,0.43,0.55,0.67,1.54,3.76,1.51,0.97,1.52,1.12,0.9,1.76,1.3,16.03
6,1899,0.87,0.98,2.79,1.23,0.55,0.58,2.18,1.81,0.15,1.94,Tr,0.96,14.04
7,1900,0.4,1.06,0.75,9.18,1.84,0.49,0.48,0.22,1.54,0.13,0.19,0.61,16.89
8,1901,0.53,0.3,1.74,3.51,1.62,1.76,0.46,1.69,0.16,0.65,Tr,1.43,13.85
9,1902,0.37,0.48,1.48,1.01,2.32,1.46,1.26,0.53,5.46,1.44,1.29,1.34,18.44
10,1903,0.08,1.52,1.45,2.31,2.02,1.87,0.95,1.46,1.31,3.43,0.15,0.16,16.71
11,1904,0.09,0.31,2.37,1.45,5.35,2.72,1.05,1,1.6,1.06,0.08,0.7,17.78
12,1905,0.81,0.7,1.85,6.65,4.78,0.55,1.86,0.22,1.64,2.54,0.23,Tr,21.83
13,1906,0.22,0.17,2.45,5.32,3.37,1.56,3.81,2.5,3.13,1.8,1.87,Tr,26.2
14,1907,0.22,0.56,0.47,3.59,5.29,0.59,2.79,0.44,1.06,0.58,0.41,0.27,16.27
15,1908,0.6,0.09,0.23,0.71,3.45,0.29,2.07,3.3,1.55,2.59,1.96,1.04,17.88
16,1909,0.11,1.21,3.96,3.60,1.85,1.67,3.18,2.42,4.51,0.55,1.56,1.72,26.34
17,1910,0.2,1.39,0.05,1.34,3.38,0.48,1.58,2.69,0.48,1.05,0.27,0.53,13.44
18,1911,0.73,1.56,0.64,2.68,0.9,1.3,1.69,1.24,0.26,1.59,0.72,0.2,13.51
19,1912,0.58,1.32,2.00,1.71,2.82,1.91,3.33,1.77,2.7,1.03,0.93,0.46,20.56
20,1913,0.49,1.28,0.71,1.58,1.85,0.48,4.04,0.54,2.62,2.24,0,4.2,20.03
21,1914,0,0.08,1.77,3.38,3.57,1.7,2.32,1.97,0.25,2.69,0.31,0.29,18.33
22,1915,0.39,1.31,1.68,4.46,3.83,1.78,2.58,1.67,3.02,1.83,0.25,1.5,24.3
23,1916,0.69,0.02,1.02,2.36,3.77,0.53,1.26,1.9,1.32,4.6,1.32,0.86,19.65
24,1917,0.31,0.54,1.75,2.81,6.17,0.13,0.48,0.2,0.13,0.95,0.1,0.42,13.99
25,1918,0.68,1.18,0.72,2.98,2.03,1.28,2.54,0.57,3.62,1.1,0.78,1.36,18.84
26,1919,0,0.32,1.49,1.65,0.88,1.1,7.46,0.95,0.88,1.31,2.07,0.5,18.61
27,1920,1.22,1.39,0.58,4.07,1.61,1.87,0.68,2.55,0.73,2.43,0.72,0.85,18.7
28,1921,0.11,0.31,0.77,4.81,1.5,3.62,1.53,2,0.17,1.13,0.98,1.46,18.39
29,1922,0.63,0.59,0.81,3.32,1.02,0.62,1.04,1.5,Tr,1.13,2.58,0.56,13.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1988,0.4,1.14,2.53,1.48,3.7,0.7,0.71,1.33,2.02,0.03,0.75,2.16,16.95
96,1989,1.19,1.27,0.97,1.95,2.68,2.93,1.43,1.63*,3.54*,1.40*,0.09*,1.54*,20.62
97,1990,1.04*,1.32*,4.55,2.16,1.73,0.39,4.23,1.13,1.84,0.96,1.6,0.75,21.7
98,1991,1.05,0.15,0.43,2.41,2.9,3.59,3.11,2.08,1.21,0.93,3.3,0.01,21.17
99,1992,0.67,Tr,5.17,0.46,1.7,0.96,1.13,3.08,0.02,0.79,2.56,0.84,17.38
100,1993,0.25,0.9,2.15,2.56,1.73,3.38,1.40,1.04,3.32,2.42,2.17,0.55,21.87
101,1994,0.86,1.37,1.61,3.46,1.35,0.93,0.35,2.56,0.54,1.02,2.25,0.49,16.79
102,1995,0.64,1.53,1.21,5.45,9.59,4.03,0.72,1.45,2.96,0.59,1.51,0.25,29.93
103,1996,1.89,0.29,2.16,1.49,4.63,2.77,1.96,0.63,3.48,0.28,1.43,0.37,21.38
104,1997,0.87,1.83,0.91,5.77,2.19,3.69,1.14,5.27,1.92,2.7,1.52,0.68,28.49
105,1998,1.07,0.23,3.41,4.56,1.82,1.85,4.02,0.97,0.66,1.12,1.53,1.05,22.29
106,1999,0.65,0.08,1.09,7.55,1.84,0.82,2.54,5.54,2.62,1.33,0.81,1.01,25.88
107,2000,0.29,0.55,2.56,1.50,1.6,1.53,2.09,0.72,2.51,1.28,0.89,0.44,15.96
108,2001,0.73,0.86,2.01,3.02,3.62,1.09,1.76,1.64,1.77,0.4,1.02,0.36,18.28
109,2002,1.07,0.44,1.50,0.20,3.2,1.18,0.09,1.44,1.52,2.44,0.78,0.02,13.88
110,2003,0.09,1.52,5.44,2.99,2.62,2.69,0.71,3.52,0.35,0.45,0.8,0.84,22.02
111,2004,0.82,1.31,1.09,5.66,1.28,3.96,3.44,2.88,2.07,2.32,1.99,0.35,27.17
112,2005,1.4,0.31,1.22,3.86,1.91,2.68,0.42,1.63,0.52,2.8,0.34,0.43,17.52
113,2006,0.44,0.68,2.08,1.04,1.14,1.32,2.63,1.23,1.25,3.71,0.74,3.05,19.31
114,2007,1.68,0.86,1.69,2.24,1.79,0.38,0.80,1.82,1.92,1.38,0.47,2.1,17.13
115,2008,0.46,0.63,1.47,1.13,4.21,1.58,0.09,2.97,1.84,1.18,0.13,1.33,17.02
116,2009,0.62,0.27,1.89,5.88,3.08,2.7,1.42,0.33,0.42,3.26,0.93,1.39,22.19
117,2010,0.28,1.37,3.30,3.63,2.71,3.36,2.31,1.07,0.25,0.95,0.61,0.48,20.32
118,2011,0.96,1.02,0.33,2.41,5.16,1.35,2.87,1.08,2.56,1.65,0.98,1.92,22.29
119,2012,0.38,1.94,0.01,1.31,1.78,0.38,4.99,0.36,2.27,1.44,0.28,0.51,15.65
120,2013,0.27,1.13,1.72,4.14,2.66,0.61,1.03,1.4,18.16,2.24,0.29,0.5,34.15
121,2014,1.67,0.68,1.62,1.87,4.43,0.84,4.57,1.6,2.88,1.16,0.88,1.37,23.57
122,2015,0.38,3.69,0.38,4.50,7.82,1.76,2.98,0.31,0.14,2.02,1.83,1.11,27.39
123,2016,0.37,1.44,3.84,3.34,2.01,2.37,0.61,1.06,0.45,0.38,0.47,0.91,17.25
124,2017,1.41,0.73,1.45,3.15,6.29,0.45,1.30,1.62,1.92,2.42,0.57,0.68,21.89